<h1>Monthly wise Report</h1>


<%= render 'report', reportObject: @report %>

<%if @readings.empty?%>
<h5><strong>Create Entry First</strong></h5> 
<%else%>
<%= render 'datepicker_range' %>
<%end%>
<%= link_to 'Back to Readings', readings_path %>